.chat-area *{
    overflow: hidden;
    box-sizing: border-box;
}
.chat-area{
    background-color: rgb(10, 10, 20);
}
.chat-sidearea{
    height: 100vh;
    width: 20vw;
    border: 2px solid aqua;
    position: fixed;
}
.chat-mainarea{
    border-left: 2px solid white;
    width: 80vw;
    margin-left: 20vw;
    padding-bottom: 20px;
    height: 100vh;
}
.chat-header{
    background-color: purple;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 2;
    border: 1px solid white;
}
.message-area-overlay{
    padding-left: calc(1%);
    background-color: rgb(10, 10, 20);
    position: fixed;
    width: calc(100% - 20vw);
    height: calc(25px);
    bottom: 0px;
    z-index: 2;
}
.message-area{
    width: calc(98% - 20vw);
    padding: 4px 10px 50px 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
    border-radius: 8px;
    background: linear-gradient(90deg, #111 0%, #112 100%);
    bottom: 20px;
    position: fixed;
    height: auto;
}
.message-area:focus-within{
    border: 1px solid rgba(255, 255, 255, 0.773);
}
.send-message{
    background-color: transparent;
    width: 100%;
    padding: calc(1vh) calc(1%);
    font-family: 'Delius', cursive;   
}
.send-message:focus{
    border: none;
}
.send-button{
    height: 35px;
    width: 40px;
    position: absolute;
    right: 2px;
    bottom: 4px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.chat-sendsvg{
    width: 25px;
}
.chat-show-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    gap: 4px;
    margin-left: 10px;
    background: transparent;
    color: rgba(255, 255, 255, 0.277);
    font-size: 1rem;
    cursor: pointer;
}
.arrow-style{
    font-size: 1.4rem;
}
.arrow-animationb{
    display: none;
    width: 60px;
}
.chat-bold, .chat-italic, .chat-strike{
    color: rgba(255, 255, 255, 0.277);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    width: 23px;
    margin-left: 5px;
    padding: 1px;
    border-radius: 3px;
    display: none;
}
.chat-bold{
    font-weight: bold;
}
.chat-italic{
    font-style: italic;
    padding-right: 4px;
}
.chat-strike{
    text-decoration: line-through;
}
.msgs{
    display: block;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 80vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    z-index: 1;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    bottom: 20px;
}
.chat-message-block{
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-bottom: 30px;
    padding-right: 4vw;
}
/* .my-message{               under Development
position: relative;
justify-content: flex-end;
flex-direction: row-reverse;
} */
.chat-message-img{
    max-width: 100%;
    border-radius: 4px;
    height: 22px;
    flex-shrink: 0;
}
.chat-message-block h3{
    font-family: "Fredericka the Great", serif;
    font-size: 1.2rem;
}
.chat-message{
    font-family: 'Delius', cursive;
    font-size: 0.9rem;
}
.chat-message-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.timestamp{
    font-size: 0.6rem;
    font-family: 'Delius', cursive;
}
.options-chat-message{
    display: flex;
    flex-direction: row;
}
.chat-yap-duration{
    position: absolute;
    bottom: 4px;
    right: 60px;
}
#chat-yap-duration{
    font-size: 1rem;
    background-color:rgb(123, 220, 123);
    width: 3.2rem;
    color: #112;
    margin-left: 10px;
    text-align: center;
    padding: 0.2rem 0rem;
    border-radius: 4px;
}
.chat-yap-duration input{
    cursor: pointer;
    color: #111;
    appearance: none;
    background-color: rgb(63, 63, 103);
    border-radius: 10px;
}
.chat-yap-duration input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(123, 220, 123);
    color: #000;
    border-radius: 30px;
    border: none;
}
.chat-yap-duration input[type="range"]::-moz-range-thumb {
    background-color: rgb(123, 220, 123);
    color: #000;
    border-radius: 30px;
    border: none;
}
.chat-yap-duration input[type="range"]:focus{
    border: 1px solid rgba(255, 255, 255, 0.277);
}
.chat-yap-duration input[type="range"]:active{
    border: 1px solid rgba(255, 255, 255, 0.773);
}
.chat-yap-duration span{
    font-size: 0.8rem;
    margin-right: 5px;
}
.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    max-width: 70%;
    position: absolute;
    bottom: 30px;
    left: 15%;
}
.user-profile p{
    font-family: 'Fredericka the Great', 'serif';
    font-size: 1.3rem;
}
.user-profile-pic{
    max-width: 60px;
    min-width: 30px;
    height: 32px;
    border-radius: 50%;
}
.chat-sidearea-heading{
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7C3AED 0%, #22D3EE 55%, #10B981 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.realms-r-replacement{
    font-size: 4rem;
}
.chat-sidearea hr{
    margin-top: 0;
}
.realms-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: rgba(255, 255, 255, 0.277);
}
.realms-list li{
    display: flex;
    flex-direction: row;
}
.realm-button{
    border: none;
    cursor: pointer;
    color: #10B981;
    background-color: transparent;
}
.dot-realm-style{
    position: relative;
    top: 10px;
    margin-right: 5px;
    background: linear-gradient(135deg, #7C3AED 0%, #22D3EE 50%, #10B981 100%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
}
@media (max-width : 1100px) {
    .nav-close-styles .chat-sidearea{
        width: 5vw;
    }
    .nav-close-styles .user-profile p{
        display: none;
    }
    .nav-close-styles .chat-mainarea{
        width: 95vw;
        margin-left: 5vw;
    }
    .nav-close-styles .message-area-overlay{
        width: calc(100% - 5vw);
    }
    .nav-close-styles .message-area{
        width: calc(98% - 5vw);
    }
    .nav-close-styles .msgs{
        width: 95vw;
    }
    .nav-close-styles .realm-button, .nav-close-styles .channel-hashtag{
        display: none;
    }
    .nav-close-styles .dot-realm-style{
        top: 0;
        width: 10px;
        height: 10px;
    }
    .nav-close-styles .chat-sidearea-heading .ealms{
        display: none;
    }
    .nav-open-styles .chat-sidearea{
        width: 30vw;
    }
    .nav-open-styles .user-profile p{
        display: block;
    }
    .nav-open-styles .chat-mainarea{
        width: 70vw;
        margin-left: 30vw;
    }
    .nav-open-styles .message-area-overlay{
        width: calc(100% - 30vw);
    }
    .nav-open-styles .message-area{
        width: calc(98% - 30vw);
    }
    .nav-open-styles .msgs{
        width: 70vw;
    }
    .nav-open-styles .realm-button, .nav-open-styles .channel-hashtag{
        display: inline-block;
    }
    .nav-open-styles .dot-realm-style{
        top: 10px;
        width: 6px;
        height: 6px;
    }
    .nav-open-styles .chat-sidearea-heading .ealms{
        display: inline-block;
    }
}