span{
    display: inline-block;
}
.animation-line{
    display: inline;
}
.main-h1{
    margin-top: 50px;
    padding: 4.5vw;
    position: relative;
}
.main-h1 .first-part{
    font-size: 14vw;
}
.main-h1 .second-part{
    margin-left: 10vw;
    font-size: 10vw;
}
.main-join-button{
    border: 2px solid rgb(89, 221, 89);
    width: 20vw;
    position: absolute;
    right: 10px;
    height: 60px;
    border-radius: 8px;
    background-color: transparent;
    color: beige;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.main-join-button:hover{
    background-color: rgb(89, 221, 89);
    color : rgb(51, 50, 50);
}
.curly-bracket{
    font-size: 6vw;
    position: relative;
}
.main-text{
    font-size: 1.8vw;
    width: 34vw;
    text-align: center;
}
.svg-rotate-style{
    position: absolute;
    top: 0px;
    left: 15vw;
    width: 7vw;
}
.scroll-pin{
    /* background-color: rgb(68, 111, 68); */
    background-color: rgb(77, 121, 77);
    height: 100vh;
    width: 100vw;
    padding: 60px 0px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
}
.scroll-pin-text{
    overflow-x:visible;
    text-transform: uppercase;
    font-size: 58vh;
    color: rgba(31, 31, 31, 0.8);
    font-family: "Fredericka the Great", serif;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scroll-msg img{
    position: relative;
    top: 30px;
    height: 8rem;
}
.scroll-msg{
    width: 100vw;
    height: 12rem;
    background-color: rgb(77, 121, 77);
    font-size: 4.5rem;
    font-weight: 900;
    text-wrap: nowrap;
    display: flex;
}
.scroll-msg p{
    overflow-x:visible;
}
.curly-bracket-txt{
    position: relative;
}
.curly-bracket-txt{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 130px;
}
@media (max-width : 1100px){
.scroll-pin{
    display: none;
}
}
@media (max-width : 800px){
    .scroll-msg{
        font-size: 3.5rem;
    }
    .curly-bracket-txt{
        height: 40vh;
        padding-bottom: 10vh;
    }
    .curly-bracket{
        font-size: 8rem;
    }
    .main-text{
        font-size: 1rem;
        position: relative;
        top: 10px;
    }
    .main-join-button{
        bottom: 0;
        left: 5vw;
        width: 90vw;
        
    }
    .main-h1 .first-part{
        font-size: 15vw;
    }
    .main-h1 .second-part{
        margin-left: 10vw;
        font-size: 10.5vw;
    }
}