.background_signin{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    line-height: 25px;
}
.signin-up h2{
    overflow: hidden;

}
.signin-up-p{
    font-size: medium;
    color: rgb(95, 93, 93);
}
.signin-up-a{
    color: beige;
}
.signin-up-a:hover{
    color: rgb(95, 93, 93);
}
hr{
    border: 0.5px solid rgb(54, 52, 52);
    margin: 40px 0px;
}
ul{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 230px;
}
.sign-button{
    background-color: beige;
    color: rgb(54, 52, 52);
    border: none;
    border-radius: 14px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    padding: 10px;
}
.sign-button a{
    color: rgb(54, 52, 52);
}
.email-input, .username-input{
    width: 215px;
    background-color: rgb(54, 52, 52);
    border: none;
    border-bottom: 1px solid rgb(154, 154, 154);
    height: 34px;
    padding: 5px;
    padding-bottom: 1px;
    color: beige;
}
.input input:focus{
    outline: none;
    border: 2px solid rgb(89, 221, 89);
}
.margin-10px{
    margin-bottom: 10px;
}