.recorder{
    margin-left: 1vw;
}
.start-record{
    background: transparent;
}
.pause-button{
    background: transparent;
    border: none;
    position: absolute;
    top: 40%;
}
.pause-button svg{
    width: 2rem;
    height: 2rem;   
}
.bar{
    width: 0.2rem;
    background-color: gray;
    border-radius: 35%;
    flex-shrink: 0;
}
.recorder-freq{
    position: relative;
    left: 6rem;
    bottom: 0.5rem;
    max-width: 60%;
    display: flex;
    align-items: center;
    gap: 1.5px;
    height: 50px;
}
.recorder-count{
    position: absolute;
    font-family: "Delius", cursive;
    font-size: 1.4rem;
}
.audio-play-button{
    background: transparent;
    border: none;
}
.audio-play-button svg{
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: 1px;
}
.msg-bars{
    display: flex;
    gap: 1.5px;
    align-items: center;
}
.msg-bar-underlay{
    background-color: white;
    height: 100%;
    width: 0;
}
.msg-bars-mover{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 2;
    left: 6px;
}
.audio{
    display: flex;
    gap: 5px;
    align-items: center;
}
/* .chat-duration input[type="range"]{
    appearance: none;
    background-color: rgb(63, 63, 100);
    border-radius: 10px;
}
.chat-duration input[type="range"]::-webkit-slider-thumb { Under test...unknown errorr
    border-radius: 0px
} */
/* .chat-duration input[type="range"]::-webkit-slider-thumb{
    background-color: green;
    border-radius: 0px;
    color: #000;
}
.chat-duration input[type="range"]::-ms-thumb{
    background-color: green;
    border-radius: 0px;
} */