.dashboard-section{
    margin-left: 20rem;
}
.dashboard-section h1{
    text-align: center;
}
.boxmain-add{
    margin: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}
.active-boxes{
    margin: 50px 0px;
}
.active-box{
    position: relative;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 4px;
    padding: 5px;
    height: 180px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
}
.active-box img{
    height: 150px;
    border-radius: 6px;
    object-fit: contain;
}
.active-box p{
    font-size: 0.8rem;
    margin-left: 10px;
}
textarea{
    resize: none;
    background-color: rgba(71, 70, 70, 0.397);
    color: rgba(245, 245, 220, 0.751);
    border: none;
}
.boxmain-add .heading{
    width: 400px;
    height: 100px;
    padding: 10px;
}
textarea:focus{
    outline: none;
    border: 3px solid rgb(89, 221, 89);
}
.boxmain-add .content{
    width: 700px;
    height: 500px;
    padding: 20px;
}
.boxmain-add #file{
    display: none;
}
#file-chose{
    width: 200px;
    height: auto;
    text-align: center;
    overflow: hidden;
    padding-bottom: 15px;
}
#file-chose:hover{
    background-color: rgb(89, 221, 89);
    color: beige;
    transform: scale(1.2);
    font-size: 1.2rem;
    font-weight: bold;
}
.delete-svg{
    width: 20px;
}
.delete-button-svg{
    position: absolute;
    right: 20px;
    top: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}