.dashboard-section{
    margin-left: 20rem;
}
.boxmain-add{
    border: 2px solid white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    height: 100vh;
}
textarea{
    resize: none;
    background-color: rgba(71, 70, 70, 0.397);
    color: rgba(245, 245, 220, 0.751);
    border: none;
}
.boxmain-add .heading{
    width: 400px;
    height: 100px;
    padding: 10px;
}
textarea:focus{
    outline: none;
    border: 3px solid rgb(89, 221, 89);
}
.boxmain-add .content{
    width: 700px;
    height: 500px;
    padding: 20px;
}
.boxmain-add #file{
    display: none;
}
#file-chose{
    width: 200px;
    height: auto;
    text-align: center;
    overflow: hidden;
}
#file-chose:hover{
    background-color: rgb(89, 221, 89);
    color: beige;
    transform: scale(1.2);
    font-size: 1.2rem;
    font-weight: bold;
}