.chat-theme{
    position: absolute;
    width: 80px;
    right: 5px;
}
.chat-theme select{
    width: 100%;
    background-color: var(--input-backgrounds);
    outline: none;
    border: none;
    height: 25px;
    border-radius: 4px;
    padding-left: 4px;
}